# Backend
backend/target/
backend/*.jar
backend/.mvn/*
!backend/.mvn/wrapper/
backend/.mvn/wrapper/*
!backend/.mvn/wrapper/maven-wrapper.properties
!backend/.mvn/wrapper/maven-wrapper.jar
uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Environment
.env
*.log
